In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

import sys, os
project_root = os.path.abspath(os.path.join(os.getcwd(), "../.."))
if project_root not in sys.path:
    sys.path.append(project_root)

from src.data_processing.bc5cdr import *

In [ ]:
# df = parse_entity('Training')

# df = pd.concat([df, parse_entity('Development'), parse_entity('Test')], axis = 0).reset_index(drop = True)

# df

,number,title,abstract,entities
0,227508,Naloxone reverses the antihypertensive effect ...,"In unanesthetized, spontaneously hypertensive ...","[{'text': 'Naloxone', 'type': 'Chemical', 'sta..."
1,354896,Lidocaine-induced cardiac asystole.,Intravenous administration of a single 50-mg b...,"[{'text': 'Lidocaine', 'type': 'Chemical', 'st..."
2,435349,Suxamethonium infusion rate and observed fasci...,Suxamethonium chloride (Sch) was administered ...,"[{'text': 'Suxamethonium', 'type': 'Chemical',..."
3,603022,"Galanthamine hydrobromide, a longer acting ant...","Galanthamine hydrobromide, an anticholinestera...","[{'text': 'Galanthamine hydrobromide', 'type':..."
4,1378968,Effects of uninephrectomy and high protein fee...,Rats with lithium-induced nephropathy were sub...,"[{'text': 'lithium', 'type': 'Chemical', 'star..."
...,...,...,...,...
1495,20859899,Syncope caused by hyperkalemia during use of a...,A 76 year-old woman with a history of coronary...,"[{'text': 'Syncope', 'type': 'Disease', 'start..."
1496,20927253,Diffuse skeletal pain after administration of ...,BACKGROUND: Osteoporosis is caused by bone res...,"[{'text': 'pain', 'type': 'Disease', 'start': ..."
1497,20959502,Cerebrospinal fluid penetration of high-dose d...,OBJECTIVE: To report a case of methicillin-sen...,"[{'text': 'daptomycin', 'type': 'Chemical', 's..."
1498,21195121,The role of nitric oxide in convulsions induce...,Lindane is an organochloride pesticide and sca...,"[{'text': 'nitric oxide', 'type': 'Chemical', ..."
1499,24055495,Long-term oral galactose treatment prevents co...,Basic and clinical research has demonstrated t...,"[{'text': 'galactose', 'type': 'Chemical', 'st..."

In [ ]:
# df_lookup = create_lookup_table(df)

# df_lookup

                       Text      Type     Mesh
0                  Naloxone  Chemical  D009270
1                 Clonidine  Chemical  D003000
2              Hypertensive   Disease  D006973
3                  Nalozone  Chemical  Unknown
4               Hypotensive   Disease  D007022
...                     ...       ...      ...
4983  Hyper- or hypotension   Disease  D007022
4984  Tachy- or bradycardia   Disease  D013610
4985  Tachy- or bradycardia   Disease  D001919
4986                    Mdp   Disease  D003865
4987                    Mdp   Disease  D016584

[4988 rows x 3 columns]

In [ ]:
# rels = extract_relations("Training")

# rels = pd.concat([rels, extract_relations('Development'), extract_relations('Test')], axis = 0).reset_index(drop = True)

# rels

            ID Chemical  Disease
0       227508  D008750  D007022
1       354896  D008012  D006323
2       435349  D013390  D005207
3       603022  D012601  D062787
4      1378968  D008094  D006973
...        ...      ...      ...
3111  21195121  D001556  D012640
3112  24055495  D005947  D000544
3113  24055495  D013311  D000544
3114  24055495  D013311  D003072
3115  24055495  D005690  D003072

[3116 rows x 3 columns]

### Detailed proposal

Working with txt file containing relations (PMID, Chemical_MeSH, Disease_MeSH), entities (chemical & disease), abstract and title

Aim: chemical-disease relation extraction

Workflow:
+ if basic: use entities -> BioBERT classifier
+ khó hơn: use abstract -> NER -> entity linking -> relation extraction